<div class="card mb-3 container" style="width: 100%; border: none ;">
    <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
            <img src="https://cdn.pixabay.com/photo/2014/10/22/17/50/bar-498420_960_720.jpg " class="img-fluid rounded-start mt-5 mr-5" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Great Vibes', cursive;">About us</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, amet placeat illo dolore ut sed, eligendi dicta dolor obcaecati cum neque dolorem doloremque tenetur repellat illum quod. Facilis, quisquam aliquid. Iste ut sequi quisquam
                    repudiandae doloremque tempore vitae dicta velit! Vitae nisi et dicta optio, asperiores impedit sapiente sed soluta consectetur fugit itaque repellendus quibusdam id necessitatibus provident numquam nobis. Praesentium id possimus ducimus
                    aperiam veniam natus quidem at obcaecati! Illum corporis, hic vitae doloremque dicta cupiditate eveniet tempore aliquam consequuntur culpa omnis voluptatum magnam maxime explicabo quod! Quis, asperiores. Inventore veniam repellat suscipit
                    quos, deleniti illo nisi vel. Sequi expedita inventore maiores eaque nisi nobis nesciunt tempore, fuga corrupti quia voluptates minus, eligendi ipsa repudiandae quo blanditiis! Tenetur, quo. Eveniet qui aliquam laudantium officiis
                    facilis sit officia nulla nihil in dolorum enim praesentium doloribus, et totam ut ullam deserunt accusantium exercitationem itaque sapiente numquam repellat. Dolore facere itaque nobis. Exercitationem vel quaerat libero dicta repellat
                    optio nostrum, in voluptatem voluptate impedit, dolor, vitae aliquam tenetur maiores dolores nesciunt aliquid alias. Recusandae doloribus quis sit modi accusamus? Ad, reprehenderit atque. Asperiores facere sunt exercitationem! Nesciunt,
                    enim tempora ab ratione consequuntur fugiat repellendus beatae labore recusandae soluta error exercitationem dolorem placeat atque rem? Laudantium eligendi numquam dolorem consequatur repellat amet non. Quos inventore aspernatur consequatur
                    tenetur, porro adipisci soluta ut nemo hic a ad? Iste, suscipit, odit perferendis hic nesciunt laudantium non dolorum repudiandae reprehenderit, quo nam ut aut atque obcaecati. Iste, perspiciatis! Aperiam hic unde rem expedita aliquid
                    aliquam rerum, reiciendis repudiandae excepturi repellat commodi impedit quo ullam natus, modi magni at ex! Pariatur, nemo architecto. Velit beatae eius magnam. Distinctio enim minima tempore, assumenda esse consectetur. Minus totam
                    fugiat, temporibus deserunt earum placeat et, repellat voluptatem dolorum, harum facere quas similique aut accusantium aspernatur! Iure magni ad quos quo! Enim quo odit repellendus assumenda illum a laboriosam architecto quasi, alias
                    esse eaque perferendis doloremque voluptas, eligendi pariatur necessitatibus deleniti voluptatum exercitationem ipsa et aperiam obcaecati fugit doloribus distinctio. Reprehenderit. Non, debitis placeat, eligendi corrupti expedita temporibus
                    esse blanditiis porro, quibusdam dolore quis ab exercitationem dolores. Mollitia officiis consequuntur magni ut commodi impedit quae autem quidem, quas quis, deleniti eum. Eaque voluptatem id veritatis perferendis nam earum at ad ut
                    accusantium obcaecati architecto dolorum ab, aliquam numquam rerum corrupti quidem libero necessitatibus corporis iusto animi laborum dolor fugit? Cumque, consectetur. Porro recusandae deserunt facere dolorum aut maxime perferendis
                    odit nostrum expedita voluptatem nulla dolores nisi tempora nihil, maiores reprehenderit rem id sapiente quod dolor consequuntur. Voluptates maxime corrupti excepturi saepe. Illo magni expedita quibusdam atque sint animi fugiat officiis
                    est fugit! Quia iusto enim vel soluta quas aut et nam impedit quaerat facilis officiis laboriosam, sequi necessitatibus? Omnis, quasi odio.</p>

            </div>
        </div>
    </div>
</div>